<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yamatoya.hyper2channeler"
    android:versionCode="3"
    android:versionName="1.1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <!-- パーミッション -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">

        <activity
            android:name=".Hyper2ch"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 2chViewer -->
        <activity
            android:name=".Web2chViewer"
            android:label="@string/app_name" >
        </activity>

        <!-- お気に入り画面 -->
        <activity
            android:name=".FavoriteList"
            android:label="@string/app_name" >
        </activity>

        <!-- 設定画面 -->
        <activity
            android:name=".pref.SettingActivity"
            android:label="@string/app_name" >
        </activity>

		<meta-data android:name="i-mobile_Publisher_ID" android:value="15130" />
	</application>


</manifest>
